@model CFProject_T6.Models.Projects

@{
    ViewData["Title"] = "Project Details";
    var prog = Math.Round(Model.Fundsrecv / Model.Goalfunds, 2) * 100;
    var width = Math.Min(prog, 100);
    var prog_point = "";

    switch (prog)
    {
        case decimal n when (n <= 33.33M): prog_point = "progress-bar-danger";
            break;

        case decimal n when (n > 33.33M && n < 66.66M):
            prog_point = "progress-bar-warning";
            break;

        case decimal n when (n >= 66.66M):
            prog_point = "progress-bar-success";
            break;

    }
}

<h2>Project Details</h2>

<div class="progress">
    <div class="progress-bar progress-bar-striped active @prog_point" role="progressbar" style="width: @width%;" aria-valuenow="@width" aria-valuemin="0" aria-valuemax="100">@prog%</div>
</div>

@*<p>@prog</p>*@

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt>
            Goal Funds
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goalfunds)
        </dd>
        <dt>
            Funds Received
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fundsrecv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="@Url.Action("index", "Packages", new { project_id = Model.Id})">Available Packages</a> |
    <a asp-action="Index">Back to List</a>
</div>
