@model CFProject_T6.Models.Projects

@{
    ViewData["Title"] = "Project Details";
}

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt>
            Goal Funds
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goalfunds)
        </dd>
        <dt>
            Funds Received
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fundsrecv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="@Url.Action("index", "Packages", new { project_id = Model.Id})">Available Packages</a> |
    <a asp-action="Index">Back to List</a>
</div>
