@model IEnumerable<CFProject_T6.Models.Projects>

@{
    ViewData["Title"] = "MyFundedProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyFundedProjects</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goalfunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundsrecv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goalfunds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fundsrecv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>

