@model CFProject_T6.Models.ProjectCategory

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<form class="search-tilte" method="get">
    <lable>Search title :</lable>
    <input type="text" id="get-title" name="title" />
    <lable>Search Category</lable>

    <select id="select-category" name="idd">
        <option value="">Choose a Category</option>

        @foreach (var category in Model.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <button type="submit" id="button-search">Search</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>
            <th>
                Description
                @*@Html.DisplayNameFor(model => model.Descr)*@
            </th>
            <th>
                Goal Funds
                @*@Html.DisplayNameFor(model => model.Goalfunds)*@
            </th>
            <th>
                Funds so far
                @*@Html.DisplayNameFor(model => model.Fundsrecv)*@
            </th>
            <th>
                Start Date
                @*@Html.DisplayNameFor(model => model.StartDate)*@
            </th>
            <th>
                End Date
                @*@Html.DisplayNameFor(model => model.EndDate)*@
            </th>
            <th>
                Categoty
                @*@Html.DisplayNameFor(model => model.Category)*@
            </th>
            <th>
                Creator
                @*@Html.DisplayNameFor(model => model.Creator)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @item.Project.Title
                </td>
                <td>
                    @item.Project.Descr
                </td>
                <td>
                    @item.Project.Goalfunds
                </td>
                <td>
                    @item.Project.Fundsrecv
                </td>
                <td>
                    @item.Project.StartDate
                </td>
                <td>
                    @item.Project.EndDate
                </td>
                <td>
                    @item.Project.Category.Name
                </td>
                <td>
                    @item.Project.Creator.Fname
                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.Project.Id">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    @foreach (var item in Model.Projects)
    {
        <div class="col-md-4 portfolio-item">
            <a href="@Url.Action("SingleItem", "Portfolio")">
                <img src="@Url.Content($"~/images/{item.Photo?.Filename ?? string.Empty}")" class="img-responsive">
            </a>
            <h3>
                @Html.ActionLink(item.Project.Title, "SingleItem", "Portfolio")
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    }
   </div>

