@model CFProject_T6.Models.ProjectCategory

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="search-tilte" method="get">
    <lable>Search title :</lable>
    <input type="text" id="get-title" name="title" />
    <button type="submit" id="button-search">Search</button>

</form>

<div class="row">
        <h4>Make your Search by choosing one of the Categories.</h4>
        <table class="table">
            <tr>
                <th>
                    <a asp-controller="Project" asp-action="Search" asp-route-idd="" asp-route-title="">All</a>
                </th>
                @foreach (var item in Model.Categories)
                {
                    <th>
                        <a asp-controller="Project" asp-action="Search" asp-route-idd="@item.Id" asp-route-title="">@item.Name</a>
                    </th>
                }
            </tr>
        </table>
</div>

<div class="row">
    @foreach (var item in Model.Projects)
    {
        <div class="col-md-4">
            <a href="@Url.Action("Details", "Project", new { id = item.Project.Id})">
                <img src="@Url.Content($"{item.Photo?.Filename ?? "teamfoto3.jpg"}")" class="img-responsive" style="height:300px">
            </a>
            <h3>
                @Html.ActionLink(item.Project.Title, "Details", "Project", new { id = item.Project.Id })
            </h3>
            <p>@item.Project.Descr</p>
        </div>
    }
</div>

