@model IEnumerable<CFProject_T6.Models.Updates>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Project
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Descr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*<div class="NS_projects__updates_section">
    <div class="py3 py10-sm bg-white">
        <div class="container-flex px3">
            <div class="timeline">
                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2217458">
                        <p class="grid-post__date">
                            <time datetime="2018-06-19T08:13:35-04:00" data-format="LL" class="js-adjust-time">June 19, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-teal-500">
                            Tashi Lama Chenno ~ Calling out to Lama or Guru
                        </h2>
                        <div class="grid-post__content">
                            <div class="template asset" data-id="21629583"></div>
                            <p>“Lama Chenno” Calling the Lama (or Guru) as if from afar, somehow knowing all the while Lama is within...Krishna Das shares his voice on this Chant that first came to... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                11 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2213650">
                        <p class="grid-post__date">
                            <time datetime="2018-06-17T09:32:27-04:00" data-format="LL" class="js-adjust-time">June 17, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-sky-500">
                            Shiva Maheshwara...Hare Ram
                        </h2>
                        <div class="grid-post__content">
                            <div class="template asset" data-id="21608384"></div>
                            <p>&nbsp;Hi Y'All</p>
                            <p>It's a warm and sunny morning in Brooklyn. We are at 360 backers, thank you again.</p>
                            <p>Here's a little glimpse into another track on the album...</p>
                            <p>‘Shiva Maheshwara’... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                1 Comment
                            </span>
                            <span>
                                10 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2213029">
                        <p class="grid-post__date">
                            <time datetime="2018-06-14T07:12:53-04:00" data-format="LL" class="js-adjust-time">June 14, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-apricot-500">
                            Thank you again
                        </h2>
                        <div class="grid-post__content">
                            <p>We are in the final stretch. Thank you for hanging in Here with me.</p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                6 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2212772">
                        <p class="grid-post__date">
                            <time datetime="2018-06-13T10:06:04-04:00" data-format="LL" class="js-adjust-time">June 13, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-apricot-500">
                            Devi Pranamah - Bowing to The Goddess
                        </h2>
                        <div class="grid-post__content">
                            <div class="template asset" data-id="21566957"></div>

                            <p>🌹 15 days remaining for the Anubhav CD pre-sale...and upto 337 backers, thank you again 👏🏾&nbsp; 🌹</p>
                            <p>‘Devi Pranamah’ is a closing prayer in the Chandi Paath (also called Durga... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                3 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2210087">
                        <p class="grid-post__date">
                            <time datetime="2018-06-11T11:34:38-04:00" data-format="LL" class="js-adjust-time">June 11, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-sky-500">
                            Getting your Reward
                        </h2>
                        <div class="grid-post__content">
                            <p>Hi Y'All,&nbsp;</p>
                            <p>Thank you again for all your support. We are at 328 backers with 17 days to go!</p>
                            <p>Just want to make sure you know how you will receive... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                11 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2208824">
                        <p class="grid-post__date">
                            <time datetime="2018-06-10T08:29:33-04:00" data-format="LL" class="js-adjust-time">June 10, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-teal-500">
                            Rath Yatra  ~ Journey of the Chariots
                        </h2>
                        <div class="grid-post__content">
                            <div class="template asset" data-id="21531145"></div>
                            [Good Sunday morning. We are at 315 backers, thank you so much 🙏🏾]&nbsp;<p>In the Krishna Lila, there’s the stories of Krishna as a infant/child, young adult cowherd with the... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                1 Comment
                            </span>
                            <span>
                                4 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2208822">
                        <p class="grid-post__date">
                            <time datetime="2018-06-08T09:56:03-04:00" data-format="LL" class="js-adjust-time">June 8, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-sky-500">
                            Day 20 - Half Way
                        </h2>
                        <div class="grid-post__content">
                            <p>We are at 279 backers in 20 days and another 20 to go 🙏🏾 as I looked at numbers some interesting patterns arose...</p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                2 Comments
                            </span>
                            <span>
                                13 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2207503">
                        <p class="grid-post__date">
                            <time datetime="2018-06-07T12:24:24-04:00" data-format="LL" class="js-adjust-time">June 7, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-apricot-500">
                            Ramaya Hanuman Chalisa
                        </h2>
                        <div class="grid-post__content">
                            <div class="template asset" data-id="21504393"></div>
                            <p>Here's a sneak peak into the version of the Hanuman Chalisa that we are offering in this Anubhav CD. It's part of a 'trilogy' - preceded by the Sri Ram... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                1 Comment
                            </span>
                            <span>
                                7 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2205159">
                        <p class="grid-post__date">
                            <time datetime="2018-06-04T18:54:02-04:00" data-format="LL" class="js-adjust-time">June 5, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-teal-500">
                            Uma sings 'Govinda'
                        </h2>
                        <div class="grid-post__content">
                            <div class="template asset" data-id="21468439"></div>
                            <p>"Govinda Gopala &amp; Govinda Jaya Jaya"</p>
                            <p>One year in Rishikesh, Siddhi Ma asked Uma (she was probably about 6 years old or so) if She should bring her a murti... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                3 Comments
                            </span>
                            <span>
                                16 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2204128">
                        <p class="grid-post__date">
                            <time datetime="2018-06-03T15:00:53-04:00" data-format="LL" class="js-adjust-time">June 3, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-sky-500">
                            Kagyu Thubten Choling Kirtan with Krishna Das
                        </h2>
                        <div class="grid-post__content">
                            <p>Tonight we are chanting in Wappingers Falls. Livestream is on KD’s Facebook page starting 3pm eastern.</p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                11 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2202521">
                        <p class="grid-post__date">
                            <time datetime="2018-06-01T10:09:36-04:00" data-format="LL" class="js-adjust-time">June 1, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-apricot-500">
                            CD Cover of Anubhav
                        </h2>
                        <div class="grid-post__content">
                            <p>As she did for “Antarayaami” my sister Shamina Rao-Herel designed this one, too. The photo is taken by my daughter Uma at Sivananda Bahamas; Gopi skirt and camera from Keli;... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                19 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__divider timeline__divider--month">
                    <div class="timeline__divider_content">
                        <time datetime="2018-05-31T23:59:59-04:00" data-format="MMM YYYY" class="js-adjust-time">Jun 2018</time>
                    </div>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2199530">
                        <p class="grid-post__date">
                            <time datetime="2018-05-29T12:06:12-04:00" data-format="LL" class="js-adjust-time">May 29, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-teal-500">
                            Video of Group Chanting of Hanuman Chalisas from Yogaville
                        </h2>
                        <div class="grid-post__content">
                            <p>This weekend we got to chant with this beautiful band. We sang three different melodies. The first is Ocean of Ram Hanuman Chalisa and the third is Nina Hanuman Chalisa... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                2 Comments
                            </span>
                            <span>
                                9 likes
                            </span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2197754">
                        <p class="grid-post__date">
                            <time datetime="2018-05-29T07:46:15-04:00" data-format="LL" class="js-adjust-time">May 29, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-teal-500">
                            The percussion section on this album 🌺
                        </h2>
                        <div class="grid-post__content">
                            <p>From Yogaville this past weekend...</p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                1 Comment
                            </span>
                            <span>
                                8 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2196871">
                        <p class="grid-post__date">
                            <time datetime="2018-05-25T10:21:00-04:00" data-format="LL" class="js-adjust-time">May 25, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-sky-500">
                            Country roads take me home, to the place I belong🎶
                        </h2>
                        <div class="grid-post__content">
                            <p>Thank you all, we’ve crossed the mark 200 backers in 6 days. This weekend we’ll be chanting at Yogaville with Krishna Das and I’ll be leading Hanuman Chalisas as well.... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                7 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--left">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2194673">
                        <p class="grid-post__date">
                            <time datetime="2018-05-23T00:52:36-04:00" data-format="LL" class="js-adjust-time">May 23, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-apricot-500">
                            We are at 160 backers!
                        </h2>
                        <div class="grid-post__content">
                            <p>Sri Shanka (conch) often announces the beginning of puja - calling to the Gods!</p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                10 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2193429">
                        <p class="grid-post__date">
                            <time datetime="2018-05-21T19:51:36-04:00" data-format="LL" class="js-adjust-time">May 22, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-teal-500">
                            Day 2: 108 backers 😊
                        </h2>
                        <div class="grid-post__content">
                            <p>Thank you again</p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                4 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__item timeline__item--right">
                    <a class="grid-post link hover-target" href="/projects/378025473/nina-rao-offers-her-second-chant-album-anubhav/posts/2192649">
                        <p class="grid-post__date">
                            <time datetime="2018-05-20T21:30:51-04:00" data-format="LL" class="js-adjust-time">May 21, 2018</time>
                        </p>
                        <h2 class="grid-post__title hover-item-highlight-apricot-500">
                            Day 1 Thank You
                        </h2>
                        <div class="grid-post__content">
                            <p>🌸 My first Sunday at home after quite a while. We reached our modest goal of $1008 in 1 hour! Spent the day cleaning up the garden and when I... <u class="nowrap">Read more</u></p>
                        </div>
                        <div class="grid-post__metadata">
                            <span>
                                13 likes
                            </span>
                            <span class="ksr-icon__image" aria-hidden="true" options="{&quot;original-title&quot;=>&quot;This post has images&quot;}"></span>
                        </div>
                    </a>
                </div>

                <div class="timeline__divider timeline__divider--launched timeline__divider--launched--music">
                    <div class="timeline__divider_content">
                        <div class="f5 bold mb2">
                            <time datetime="2018-05-20T08:31:50-04:00" data-format="LL" class="js-adjust-time">May 20, 2018</time>
                        </div>
                        <div class="f2">
                            Project launched
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>*@